
.imgRadar {
	border-width:2px;
	border-color:black;
	border-style:solid;
}

.divCenter {
	text-align:center;
}

.tabLeft {
	text-align:left;
}

/*Tableau de données HighCharts*/
/*https://github.com/highcharts/export-csv*/
.highcharts-data-table table {
	border-collapse:collapse;
	border-spacing:0;
	background:white;
	margin:auto;
}
.highcharts-data-table td, .highcharts-data-table th {
	font-family:sans-serif;
	font-size:10pt;
	border:1px solid silver;
	padding:0.5em;
}

.highcharts-menu hr {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* # Defaults
---------------------------------------------------------------------------------------------------- */
body{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* ## Typographical Elements Online/Offline
--------------------------------------------- */
.textOnlineStation {
	color: #48ba4e;
}
.textOfflineStation {
	color:#FF0000;
	font-weight: bold;
}

/* ## Typographical Elements Tab
--------------------------------------------- */
.textTabsHourly {
	font-size:0.7em;
}
.textTabsCaption {
	font-size:0.8em;
}
.textTabPrimary{
	color: #48ba4e;
}

/* ## Table Sticky
--------------------------------------------- */
/* Scroll vertical */
.table-scroll {
	overflow: auto;
	height: 280px;
}
/* Scroll vertical récap quotidien */
.table-scroll-quotidien {
	overflow: auto;
	height: 400px;
}
/* Scroll vertical - fix header tab */
.table-sticky thead th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: rgb(241, 240, 240);
}
/* Scroll horizontal - fix first column */
.table-sticky thead th:first-child,
.table-sticky tbody th {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	z-index: 2;
	background: rgb(241, 240, 240);
}
/* Scroll horizontal + vertical - fix header first column */
.table-sticky thead th:first-child {
	z-index: 5;
}
.table-sticky thead th {
	font-size: 0.8em;
}

/* ## Table de la page résumé quotidien
--------------------------------------------- */
.table-resume-quoti tbody tr th {
	width: 60%;
	overflow: hidden;
}
.table-resume-quoti tbody tr td {
	width: 40%;
	overflow: hidden;
}

/* ## Vigi MF
--------------------------------------------- */
#vigi_mf {
	width:250px;
	height:420px;
	border:none;
}

/* ## Footer
--------------------------------------------- */
.footer {
	padding: 15px;
}

/* ## Source
--------------------------------------------- */
.source {
	text-align: left;
	padding-left: 10px;
	font-size: 0.9em;
	color: rgb(114, 109, 103);
}

/* ## Rapports NOAA
--------------------------------------------- */
#noaa_contents {
	width: 100%;
	margin: 0 auto;
}

/* ## Typo min et max
--------------------------------------------- */
.textMin {
	color: #19B5FE; /* DODGER BLUE bootflat */
	/* font-weight: bold; */
}
.textMax {
	color: #CF000F; /* MONZA bootflat */
	/* font-weight: bold; */
}
.textSum {
	color: #4B77BE; /* STEEL BLUE bootflat */
	font-weight: bold;
}

/* ## Carte d'emplacement de la station dans le a-propos
--------------------------------------------- */
.mapLocalisation {
	height: 400px;
	width: 100%;
}

/* ## Admin
--------------------------------------------- */
.card-admin {
	width: 22rem;
	height: 16rem;
}
.card-text-admin {
	height: 4.5rem;
}